doctype html
html
  head
    meta(charset='utf-8')
    | 	<
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
    title
    meta(name='description', content='Лига чемпионов, претенденты, победитель')
    link(href='style.css', rel='stylesheet')
  body
    .wrapper
      header.header
      // .header
      nav.navigation
        li
          a(href='https://www.youtube.com/channel/UCgy7vkNWm-GjQcB6hqJQgkQ?view_as=subscriber') YouTube
        li
          a(href='https://vk.com/neiro_knight') VK
      .middle
        .container
          main.content
            h1 Настольно-ролевые игры. 17-18 г.г.
            .image
              img(src='images/ligach.jpg', alt='pretendentu', width='700', height='500')
            p
              | Здесь водят игры, рассказывают о всякой чепухе и выкладывают дополнения и хоумрулы ко всякому разному. Иногда это полезно, наверно.
            p
              | Настольно-ролевые игры объединяют не только можество рас, временых отрезков, но и людей самых разных типов, от тупых школьников до умных работяг
            h2 Критический успех!
            img(src='images/vazhno.jpg', alt='Real-Uventus')
            p
              | Авентус Кэр выбросил на 3д6 1 1 1 и убил надоедливых дронов одним выстрелом! Это успех!
            p
              | Да порой удача блоговолит смелым, но и у неё есть белая и чёрная линия, а посему вы можете за игру никразу не попасть
          // .content
        // .container
        aside.right-sidebar
          h3 Новости
          a(href='https://www.youtube.com/watch?v=xEYX9aoRaRU', <='', a='')
            h4 ГМы доказали персонажи игроков дохнут как мухи.
          p
            | В среднем за одну игру мирают от 3-х до 4-х персонажей, глупой и мучительной смертью.
          time(datetime='18.12.2018') 18 декабря, 2018 (да мы знаем будущее!)
          // .right-sidebar
        // .right-sidebar
      // .middle
      footer.footer
        p Copyright © 2018. All Rights Reserved
      // .footer
    // .wrapper
